{% extends 'base.html' %}
{% block title %}Share Network - WiFi{% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <h1 class="page-title"><i class="fas fa-share"></i> Share {{ network.network_name }}</h1>
        <div class="card">
            <div class="card-body">
                <form method="post" novalidate>
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="d-flex gap-2 mt-4">
                        <button type="submit" class="btn btn-primary"><i class="fas fa-share"></i> Share Network</button>
                        <a href="{% url 'filesharing:network-detail' network.pk %}" class="btn btn-secondary"><i class="fas fa-times"></i> Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}